<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.MemberMapper">

    <select id="selectOne" resultType="vo.Member">
    select * from member where id = #{id}
  </select>
    <select id="selectid">
    select * from member where id = #{id} AND email = #{email}
  </select>
    <select id="selectname" resultType="vo.Member">
    select * from member where username = #{name} AND email = #{email}
  </select>
  
    <insert id="insert" >
	insert into member (username,tel,gender,email,id,pw,road_addr,detail_addr) values(#{name},#{tel},#{gender},#{email},#{id},#{pw},#{roadAddr},#{detailAddr})
  </insert>
  <insert id="emailinsert">
	insert into email_verification(email,code) values(#{email},#{code});
  	 </insert>
    <select id="emailselect">
	Select code from email_verification Where code = #{code} AND email = #{email} ORDER BY createdate DESC limit 1;
  	 </select>
  	 <delete id="emaildelete">
  	 Delete From email_verification Where email = #{email};
  	 </delete>
  	 <update id="updatepw">
  	 Update member set pw = #{pw} Where id = #{id}; 
  	 </update>
  	 
  	 <select id="selectdone" resultType="vo.Donation">
  	 Select * from donation d where mno = #{mno} ORDER BY regdate desc;
  	 </select>
  	 
  	 <select id="idcheck" resultType="vo.LeaveMember">
  		SELECT * from member_history where id=#{id} AND email = #{email};
  	 </select>
  	 
  	 <delete id="leavemember">
  	 	 delete from member where id = #{id};
  	 </delete>
  	   <insert id="memberHistory">
		insert into member_history(id,email) values(#{id},#{email});
  	 </insert>
  	 
  	 <!-- <delete id="deleteOldEmails">
    DELETE FROM email_verification
    WHERE createdate < NOW() - INTERVAL 20 MINUTE;
</delete> -->
</mapper>