<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.PostMapper">
<resultMap type="vo.Post" id="post">
	<id column="pno" property="pno"/>
	<result column="title" property="title"/>
	<result column="content" property="content"/>
	<result column="id" property="id"/>
	<result column="regdate" property="regdate"/>
	<result column="updatedate" property="updatedate"/>
	<result column="view_count" property="viewCount"/>
	<result column="likes" property="likes"/>
	<result column="cno" property="cno"/>
	<result column="attach_flag" property="attachFlag"/>
</resultMap>
  <insert id="insert">
	insert into post (title, id, content, cno) 
	values (#{title},#{id},#{content},#{cno})
	<selectKey order="AFTER" keyProperty="pno" resultType="long">
	select max(pno) from post 
	</selectKey>
  </insert>
  
  <select id="selectOne" resultMap="post">
    select p.*, 1 from post p where pno = #{pno}
  </select>
  
  <select id="getCount" resultType="int">
    select count(*) as cnt from post where cno = #{category}
  </select>
  
  <select id="selectList" resultMap="post">
    select p.*, (select count(*) from attach a where a.pno = p.pno) attach_flag 
    from post p
    where cno = #{category}
    <if test="type != null">
	    <trim prefix="and (" suffix=")" prefixOverrides="or">
		    <foreach collection="typeArr" item="t">
		    	<if test='t == "T"'>
		    		or title like concat('%', #{keyword},'%')
		    	</if>
		    	<if test='t == "C"'>
		    		or content like concat('%', #{keyword},'%')
		    	</if>
		    	<if test='t == "W"'>
		    		or writer like concat('%', #{keyword},'%')
		    	</if>
		    </foreach>
	    </trim>
    </if>
    order by 1 desc 
    limit #{amount} offset #{offset}
  </select>
  
  <update id="update">
  update post set title = #{title}, content = #{content}, updatedate = now() where pno = #{pno}
  </update>
  
  <update id="increaseViewCount">
  update post set view_count = view_count + 1 where pno = #{pno}
  </update>
  
  <update id="increaseLikes">
  update post set likes = likes + 1 where pno = #{pno}
  </update>
  
  
  <delete id="delete">
  delete from post where pno = #{pno}
  </delete>
</mapper>